/* Reset css */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* root vars */

:root{
    --main-color: midnightblue;
    --secondary-color: aliceblue;
    --hover-color: aqua;
    --btn-hover-color: gainsboro;
    --txt-color: black;
    --title-color: blue;
    --bg-color: #515357;
}

/* Body */

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

/* Fixed white bar on phone */

.fixed-whitebar{
    top: 0;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat; 
    transform: scale(1.0);
}

/* Header */

.header{
    position: sticky;
    top: 0px;
    width: 100%;
    height: 60px;
    background-color: var(--main-color);
    z-index: 20;
}

.header-text{
    display: block;
    color: var(--secondary-color);
    font-size: 28px;
    font-weight: 800;
}

.header-link{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    transition: transform 0.2s;
}

.header-link:hover{
    transform: scale(1.2);
}

/* Introduction section */

.intro{
    padding: 20px;
    width: 100%;
    height: 750px;
    background-color: #515357;
}

.intro-title{
    color: var(--secondary-color);
    text-align: center;
    font-size: 32px;
    font-weight: 900;
}

.intro-logo{
    border-radius: 100%;
    width: 256px;
    height: 256px;
}

/* About me section */

.container{
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: white;
    border-bottom: 2px black solid;
}

/* Hamburguer menu */

.fixed-btn{
    display: block;
    width: 64px;
    height: 64px;
    margin: 10px;
    border-radius: 100%;
    border: 2px black solid;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    transition: background-color 0.1s linear;
}

.fixed-btn:hover{
    background-color: var(--btn-hover-color);
}

.hamburguer-ctn{
    width: 100%;
    height: 100vh;
    z-index: 30;
    background-color: black;
    transform: translate(-100%, 0);
}

.hamburguer-panel{
    width: 400px;
    height: 100vh;
    z-index: 40;
    opacity: .9;
    background-color: var(--bg-color);
    transform: translate(-100%, 0);
    transition: transform .2s ease-in;
}

.hamburguer-link{
    display: block;
    width: 100%;
    padding: 40px;
    text-align: center;
    font-size: 24px;
    color: white;
    text-decoration: none;
    transition: background-color .2s;
}

.hamburguer-link:hover{
    background-color: var(--hover-color);
}

/* Media for phones */

@media (max-width:480px) {
    

    .hamburguer-link{
        font-size: 16px;
    }
}

/* Utilities */

.fixed-pos{
    position: fixed;
}

.opacity30{
    opacity: .3;
}

.ctn-width{
    width: 1360px;
    max-width: 80%;
}

.active{
    transform: translate(0,0);
}

.hidden{
    display: none;
    opacity: 0;
}

.flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screen-center{
    margin-left: auto;
    margin-right: auto;
}

.bttmleft-corner{
    bottom: 0;
    left: 0;
}

.bttmcenter{
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
}

.bttmright-corner{
    bottom: 0;
    right: 0;
}

.ctn-title{
    color: var(--title-color);
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}

.ctn-txt{
    color: var(--txt-color);
    font-size: 24px;
    text-align: justify;
}

hr{
    margin: 0;
    width: 100%;
    border-top: 2px black solid; 
}

